<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node File Uploader</title>
</head>
<body>
    <h1>This is the page to upload your File</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="hero">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>